@page "/"

<h1>Cloud Class Project</h1>

<p>The is a cloud web app that helps the user identify and track sports betting pairings for promotional arbitrage.</p>

<p>See <a href="https://github.com/dougjih/cloud-class-project">https://github.com/dougjih/cloud-class-project</a> for details.</p>
